// main colors

$main-dark: #191919;
$secondary-dark: #d05353;
$normal-color: #e58f65;
$secondary-light: #f9e784;
$main-light: #e4e1d0;

// fonts path

$font-path: "/fonts";

//media-breakpoints
$brk-medium: 1024px;
$brk-small: 768px;

//other

$h-padding: 50px;
