@import "variables";
@import "mixins";
@import "fonts";
@import "basic-styling";



body > div {
  max-width: 100%;
  padding: 6rem $h-padding;
  border-bottom: 1px solid $secondary-dark;
}
.menu-icon-container {
  display: none;
  vertical-align: middle;
  cursor: pointer;

  span {
    background-color: white;
    display: block;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  @include mediaquery($brk-small) {
    display: block;
  }
}
header {
  @include flex-mixin($justify-content: space-between) ;position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 6rem;
  padding: 0 50px;
  z-index: 100;
  background-color: $main-dark;

  nav {
    @include flex-mixin;
    gap: 0px;
    @include text-bg-color;

    height: 100%;
    ul {
      max-width:100%;

      @include text-bg-color;

      @include flex-mixin;
      gap: 0px;
      height: 100%;
      li {
        height: 100%;

        a {
          @include flex-mixin;
          border-left: none;
          height: 100%;
          padding: 0 3rem;
          font-size: 1.5rem;
          @include text-bg-color($text: white, $bg-hover: $secondary-dark);
        }
      }
      @include mediaquery($brk-small) {
        @include flex-mixin(
            $flex-direction: column,
            $justify-content: flex-start
          );
          position: absolute;
        right: 0px;
        height: 100vh;
        top: 6rem;
        display: none;
        li {
          height: auto;
          width: 100%;
          a {
            padding: 1.5rem 2rem;
          }
        }
      }
    }
  }
}

.navLinks-displayer {
  display: flex;
}

.signin-button {
  cursor: pointer;

  @include border-radius;
  @include text-bg-color(black, black, $main-light, $bg-hover: $secondary-light)
   ; padding: 0.7rem 5rem;
  font-family: inherit;
  border: none;

  &:focus ~ .overlay,
  &:focus ~ .modal {
    display: block;
  }
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

   [type="submit"] {
    color: white;
    font-family: inherit;
    font-weight: bolder;
    background-color: rgb(92, 206, 92);
    border: 1px green solid;
  }

  form {
    background-color: white;
    max-height: 400px;
    max-width: 400px;
    width: 80%;
    margin: 20vh auto;
    padding: 2rem;
    text-align: right;
    border-radius: 5px;

    * {
      color: black;
      font-size: 2rem;
      margin-bottom: 2rem;
      display: block;
      width: 100%;
    }
    input {
      padding: 1rem;
      &:not(:last-child) {
        color: black;
        background-color: #ccc;
        border: none;
      }
    }
    
  }
}

.top-box {
  padding:15px 50px;
  margin-top: 6rem;
  & * {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  width: 100%;
  display: grid;
  row-gap: 20px;
  column-gap: 50px;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 150px 150px;

  grid-template-areas:
    "swiper-container top-image"
    "swiper-container bottom-image";
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include border-radius;
  }
  .top-image {
    grid-area: top-image;
  }
  .bottom-image {
    grid-area: bottom-image;

  }
  .swiper-container {
    grid-area: swiper-container;
    width: 100%;
    height: 100%;
    
  }
  @include mediaquery($brk-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 30vmax 20vmax 20vmax;

    justify-content: center;
    grid-template-areas:
      "swiper-container"
      "top-image"
      "bottom-image";
   
    column-gap: 0px;
  }
}

.middle-box {
  @include flex-mixin($justify-content: space-between, $align-items: stretch)
    ;& > div { 
      height:250px;

      &>div {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        border:1px solid black;

      position: relative;
      @include flex-mixin;
    img {
       object-fit: contain;
       width:100%;
       height:100%;
    }
    .hover-div {
       position:absolute;
       width:100%;
       height:100%;
       padding:1rem;
       top:0;
       right:0;
       display:none;
       color:black;
       background: rgba($color: #000000, $alpha: 0.5);

    }
    &:hover>.hover-div {@include flex-mixin;font-size:2rem}
  }}
  .left-column {
    @include flex-mixin($align-items: stretch);

    div {
      height:100%;
      @include text-bg-color(
        $bg: $secondary-light,
        $bg-hover: rgba($secondary-light, 0.5)
      );
    }
     @include mediaquery($brk-small) {
    //   flex-direction: column;
    //   align-content: stretch;
    // };
   
  }}
  .right-column {
    @include flex-mixin($flex-direction: column,$justify-content:space-between,$align-items:stretch);
    div {
      height:25%;
      @include text-bg-color(
        $bg: $secondary-light,
        $text: white,
        $bg-hover: rgba($secondary-dark, 0.5)
      );
    }
  }
  @include mediaquery($brk-medium) {
    
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }
}

.bottom-box {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;

  @for $i from 1 through 4 {
    & > div:nth-child(#{$i}) {
      @include box-styling;
      background-color: adjust-hue($color: $normal-color, $degrees: 40 * $i);
    }
  }
}
