* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IRANSansWeb", sans-serif;
}

body {
  margin: 0px;
  text-align: right;
  display: grid;
  grid-template-rows: 6rem;
  grid-template-areas:
    "header"
    "top-box"
    "middle-box"
    "bottom-box";
}
body > div {
  padding: 6rem 50px;
  border-bottom:1px solid #121b2b;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 50px 0;
  justify-content: space-between;
  background-color: #4a6ba1 ;
}
nav {
  height: 100%;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  padding: 0;
}

nav ul li {
  height: 100%;
  border-left: 1px solid #ccc;
}
a, .signin-button {
  color:black;
  transition:background 0.4s;

}
nav ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  color:white;
}



nav ul li a:hover {
  background:#c7cee3;
  color:black
}

.signin-button {
  font-family: inherit;
  border: none;
  background-color: white ;
  color:#0a2248; 
  padding: 0 5rem;
  height: 4rem;
  cursor:pointer;
}
.signin-button:hover {
  background-color: #a9b7d2  ;
  color:white;
}

.top-box {
  grid-area: top-box;
  display: grid;
  grid-template-areas:
    "top-image    swiper-slider"
    "bottom-image swiper-slider";
}

.middle-box {
  grid-area: middle-box;
  display:flex;
  justify-content: space-between;

}

.bottom-box {
  grid-area: bottom-box;
}


.top-box > .top-image {
  grid-area:top-image;
}
.top-box > .bottom-image {
  grid-area:bottom-image;

}
.top-box > .swiper-slider {
  grid-area:swiper-slider;
  width:70%;

}

.middle-box>div:first-child {
  display:flex;
  flex-direction: column;
}


.bottom-box {
  display:flex;
  justify-content: space-between;
}